body {
    padding: 0px 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}


.wrapper {
    width: 850px;
    height: 950px;
    background-color: lightgray;
    margin: auto;
}

#headdiv {
    color: white;
    height: 300px;
    background-color: #5342f4;
}

.headTxt {
    padding: 180px 100px 0 200px;
}


 .mainNav{
    width: 100%;
    height: 40px;
    background-color: white;
 }

 .listItems{
    margin: 0px;
    left: 140px;
    position: relative;
    background-color: blanchedalmond;
}

 .listItems li {
     float: left;
     list-style-type: none;
     padding: 10px;
     border-right-style: inset;
     
 }

 li a {
    display: block;
    color: #5342f4;
    text-align: center;
    text-decoration: none;
 }
 
 li a:hover {
    text-decoration-line: underline;
    font-weight: bold;
 }

 .profilePic {
     width: 150px;
     height: 150px;
     background-color: yellow;
     float: left;
     margin-top: -170px;
     margin-left: 20px;
 }

 #content {
     margin-top: 20px;

     clear: both;

 }

 #column1 {
    float: left;
    width: 328px;
    /* background-color: lightskyblue; */
    /* min-height: 400px; */
    height: 600px;
 }

 
 #column2 {
    float: right;
    width: 512px;
    height: 600px;
 }


 #aboutyourPage {
    width: 250px;
    height: 180px;
    float: right;
    background-color: white;
 }


#aboutyourPageMiddle{
    color: #5342f4;
    border-top-style: ridge;
}

#aypTxt {
    color: #5342f4;
}

#aboutyourPageBottom{
    color: hsl(246, 89%, 61%);
    border-top-style: ridge;
}
 
 #about {
    position: relative;
    top: 10px;
    left: 1px;
    float: right;
    clear: right;
    width: 250px;
    height: 120px;
    background-color: white
 }

 #aboutTop{
    font-variant: small-caps;
    color: slategrey;
 }

 #aboutMain {
    border-top-style: ridge;
 }

 #feed1 {
    background-color: white;
    float: left;
    width: 400px;
    height: 265px;

 }

.feedImg {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #5342f4;
}

.feedTxt {
    vertical-align: middle;
    padding: 10px;
    left: 20px;
}

#feed1Block{
    width: 390px;
    height: 150px;
    margin-top: 30px;
    margin-left: 5px;
    background-color: #5342f4;
}  

.feedBottom {
    height: 20px;
    background-color: azure;
    border-top-style: ridge;
    padding-top: 4px;
    padding-left: 20px;
    margin-top: 2px;
}
 #feed2 {
    position: relative;
    top: 10px;
    float: left;
    width: 400px;
    background-color: white;
 }


 .clear {
     clear: both;
 }