body {
    padding: 0px 200px;
}


#headdiv {
    color: white;
    height: 300px;
    width: 850px;
    background-color: #5342f4;
}

.headTxt {
    padding: 180px 100px 0 200px;
}

 .wrapper {
     width: 850px;
     height: 900px;
     background-color: lightgray;
     /*margin: 0 auto;*/
 }

 .mainNav{
    position: relative;
    left: 50px;
 }

 .listItems{
    margin: 0px;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #333;
}

 .listItems li {
     float: left;
     list-style-type: none;
     padding: 5px;
 }

 li a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
 }
 
 li a:hover {
    background-color: #111;
 }

 .profilePic {
     width: 150px;
     height: 150px;
     background-color: yellow;
     border: 3px solid black;
     float: left;
     position: relative;
     left: 20px;
     top: -140px;
 }


 #column1 {
    float: left;
    width: 328px;

    /*border: 5px solid black;*/
    /*margin: 80px 200px 80px 5px;*/
    background-color: aquamarine;
    min-height: 400px;
 }

 #column2 {
    float: right;
    width: 512px;
    /*margin: 80px 10px 80px 5px;*/
    background-color: beige;
    min-height: 400px;
    /*padding: 10px;*/
 }

 /*
 #aboutyourPage {
    border: 5px solid black;
    width: 120px;
    height: 200px;
    float: left;
 }
*/

 /*
 #about {
    border: 5px solid black;
    float: left;
 }

 #feed1 {
    border: 5px solid black;
    float: left;
 }

 #feed2 {
    border: 5px solid black;
    float: left;
 }
 */

 .clear {
     clear: both;
 }