body {
    /*padding: 0px 200px;*/
}

.wrapper {
    width: 850px;
    height: 900px;
    background-color: lightgray;
    margin: auto;
}

#headdiv {
    color: white;
    height: 300px;
    /*width: 850px;*/
    background-color: #5342f4;
}

.headTxt {
    padding: 180px 100px 0 200px;
}


 .mainNav{
    /* position: relative; */
    /* border: 1px solid black; */
    width: 100%;
    height: 40px;
    background-color: white;
 }

 .listItems{
    margin: 0px;
    /* padding: 10px; */
    left: 140px;
    position: relative;
    background-color: blanchedalmond;
}

 .listItems li {
     float: left;
     list-style-type: none;
     padding: 10px;
     border-right-style: inset;
     
 }

 li a {
    display: block;
    color: #5342f4;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
 }
 
 li a:hover {
    text-decoration-line: underline;
    font-weight: bold;
 }

 .profilePic {
     width: 150px;
     height: 150px;
     background-color: yellow;
     /* border: 3px solid black; */
     float: left;
     margin-top: -170px;
     margin-left: 20px;
     /* position: relative;
     left: 20px;
     top: -180px; */
 }

 #content {
     margin-top: 20px;

     clear: both;

 }

 #column1 {
    float: left;
    width: 328px;
    /* width: 48%; */
    /* margin-right: 0px; */
    /* position: relative; */
    /* display: inline-block; */
    /*border: 5px solid black;*/
    /*margin: 80px 200px 80px 5px;*/
    background-color: lightskyblue;
    min-height: 400px;
 }

 
 #column2 {
    /*float:right;*/
    float: right;
    width: 512px;
    /* width: 48%; */
    background-color: lightcyan;
    min-height: 400px;
    /* display: inline-block; */
 }

 /*
 #aboutyourPage {
    border: 5px solid black;
    width: 120px;
    height: 200px;
    float: left;
 }
*/

 /*
 #about {
    border: 5px solid black;
    float: left;
 }

 #feed1 {
    border: 5px solid black;
    float: left;
 }

 #feed2 {
    border: 5px solid black;
    float: left;
 }
 */

 .clear {
     clear: both;
 }